.aboutPageContainer {
  height: Calc(100% - 110px);
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 20px 55px;
  position: relative;
  border: solid 1px #cecece;
  border-radius: 5px;
  margin-top: 50px;
  line-height: 3em;
  margin-bottom: 50px;
}
